body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: gray;
}
.quem-somos{
    background-color: #EAEAEA;
}
.margin{
    padding-top: 10px;
    padding-bottom: 10px;
}
.parceiros{
    background-color: #EAEAEA;
}
.bg-footer{
    background-color: gray;
}